#!/bin/bash -x
exec > /tmp/create.log 2<&1
hostnamectl set-hostname ec2-{{execution_token}}
export PRIVATE_IP=$(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document | awk -F'"' '/\"privateIp\"/ { print $4 }')
aws route53 change-resource-record-sets --hosted-zone-id {{hosted_zone}} --change-batch "{ \"Comment\": \"Creating Record Set for {{execution_token}}\", \"Changes\": [ { \"Action\": \"CREATE\", \"ResourceRecordSet\": { \"Name\": \"{{execution_token}}.{{domain}}\", \"Type\": \"A\", \"TTL\": 300, \"ResourceRecords\": [ { \"Value\": \"$PRIVATE_IP\"} ] } } ] }"
unset PRIVATE_IP
# Bootscript creation
mkdir /home/life_hooks
chown ec2-user /home/life_hooks
cat << EOF > /home/life_hooks/docker_config.py
import json
with open("/home/docker_config/config.json", "r") as config_file:
    config = json.loads(config_file.read())
config["proxies"] = {"default": {"httpProxy": "http://127.0.0.1", "httpsProxy": "http://127.0.0.1", "noProxy": ".amazonaws.com,.lynx.md"}}
with open("/home/docker_config/config.json", "w") as config_file:
    config_file.write(json.dumps(config))
EOF
chown ec2-user /home/life_hooks/docker_config.py
chmod +x /home/life_hooks/docker_config.py
cat << EOF > /home/life_hooks/startup.sh
#!/bin/bash -x
exec > /tmp/startup.log 2>&1
sudo rm -rf /home/docker_config/*
sudo service docker start
sudo chmod 666 /var/run/docker.sock
# TODO Change to open
\$(aws ecr get-login --region {{lynx_region}} --registry-id {{lynx_account}} --no-include-email)
docker pull {{notebook_image}}
sudo mv ~/.docker/config.json /home/docker_config/config.json
sudo chown ec2-user /home/docker_config/config.json
python3 /home/life_hooks/docker_config.py
sudo s3fs -o iam_role="ecs-fs-server" -o url="https://s3.amazonaws.com" -o endpoint={{org_region}} -o dbglevel=info -o curldbg -o allow_other -o use_cache=/tmp -o umask=0000 {{bucket}} /home/ec2-user/workspace
sudo git -C /home/fs_client pull
sudo python3 /home/fs_client/main.py -m /home/ec2-user/data -s {{fs_server}} &
# TODO - Change to closed
docker --config /home/docker_config/ run --env TOKEN={{execution_token}} --env LYNX_API_URL={{backend}} -d -h jupyter-{{execution_token}} -v /home/ec2-user/workspace:/home/jovyan -v /home/ec2-user/data:/home/jovyan/data -p 8888:8888 {{notebook_image}}
python3 -c 'import requests, json; requests.post("{{backend}}/study_status", auth=("{{execution_token}}@lynx.md", "{{execution_token}}"), data=json.dumps({"status": "active"}))'
EOF

chmod +x /home/life_hooks/startup.sh
echo "/home/life_hooks/startup.sh" >> /etc/rc.local
chmod +x /etc/rc.d/rc.local

# Shutdown creation
cat << EOF > /home/life_hooks/shutdown.sh
#!/bin/bash
python3 -c 'import requests, json; requests.post("https://{{backend}}/study_status", auth=("{{execution_token}}@lynx.md", "{{execution_token}}"), data=json.dumps({"status": "stopped"}})'
EOF
chmod +x /home/life_hooks/shutdown.sh
# TODO - execution

/home/life_hooks/startup.sh
